@import "../../assets/utils";

:root {
  --tabs-tab-text: #5A607F;
  --tabs-tab-active-text: #1E5EFF;
  --tabs-border: #E6E9F4;
}

.root {
  display: flex;

  box-shadow: inset 0 rm(-1) 0 var(--tabs-border);

  overflow: auto;
}

.list {
  display: flex;
  align-items: center;
  gap: rm(32);

  flex-grow: 1;
  inline-size: 0;
}

.tab {
  --tab-color: var(--tabs-tab-text);
  padding-block: rm(16);

  color: var(--tab-color);

  @include t-16-24(500);

  cursor: pointer;

  &.active {
    --tab-color: var(--tabs-tab-active-text);

    box-shadow: inset 0 rm(-2) 0 currentColor;
  }
}

.whitespace {
  white-space: nowrap;
}

@include desktop() {
  .list {
    gap: rm(16);
  }

  .tab {
    padding-block: rm(10);
    @include t-14-20(400);
  }
}