@import "../../../assets/utils";

:root {
  --input-header-search-icon: #7E84A3;
  --input-header-search-text: #5A607F;
  --input-header-search-placeholder: #5A607F;

  --input-primary-icon: #7e84a3;
  --input-primary-text: #5A607F;
  --input-primary-placeholder: #A1A7C4;
  --input-primary-background: #FFFFFF;
  --input-primary-shadow: inset 0 0 0 #{rm(1)} #D9E1EC;
}

.root {
  display: flex;
  align-items: center;

  gap: rm(8);

  background: var(--input-background);
  box-shadow: var(--input-shadow);

  cursor: text;
}

.primaryVariant {
  --input-icon: var(--input-primary-icon);
  --input-text: var(--input-primary-text);
  --input-placeholder: var(--input-primary-placeholder);
  --input-background: var(--input-primary-background);
  --input-shadow: var(--input-primary-shadow);

  border-radius: rm(4);
  padding: rm(8) rm(16);
  min-block-size: rm(40);

  .input {
    @include t-16-24(500);
  }
}

.headerSearchVariant {
  --input-icon: var(--input-header-search-icon);
  --input-text: var(--input-header-search-text);
  --input-placeholder: var(--input-header-search-placeholder);

  .input {
    @include t-14-20(500);
  }
}

.icon {
  @include icon(24);

  color: var(--input-icon);
}

.input {
  color: var(--input-text);

  flex-grow: 1;
  inline-size: 0;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }
}