@import "../../../assets/utils";

.root {

}

.label {
  &:empty {
    display: none;
  }
}

.field {
  &:empty {
    display: none;
  }
}

.hint {
  &:empty {
    display: none;
  }
}

.error {
  &:empty {
    display: none;
  }
}