@import "../../../assets/utils";

.root {

}

.label {
  &:empty {
    display: none;
  }
}

.field {
  flex-grow: 1;
  display: flex;
  > :first-child {
    flex-grow: 1;
  }

  &:empty {
    display: none;
  }
}

.hint {
  &:empty {
    display: none;
  }
}

.error {
  &:empty {
    display: none;
  }
}