@import "../../../assets/utils";

:root {
  --sidebar-label-text: #A1A7C4;
}

.root {
  padding: rm(12) rm(16);
  color: var(--sidebar-label-text);

  @include t-12-16();
}

.root {
  padding: rm(6) rm(10);
  min-block-size: rm(32);
  gap: rm(10);
}

@include tablet() {
  .root {
    display: none;
  }
}